<html>
<body>
<h3>Housing Price Prediction Form</h3>
<div>
  <form action="/result" method="POST">
    <label for="area">area</label>
    <input type="text" id="area" name="area">
    <br>
    <label for="bedrooms">bedrooms</label>
    <input type="text" id="bedrooms" name="bedrooms">
    <br>
    <label for="bathrooms">bathrooms</label>
    <input type="text" id="bathrooms" name="bathrooms">
    <br>
    <label for="stories">stories</label>
    <input type="text" id="stories" name="stories">
    <br>
    <label for="mainroad">mainroad</label>
    <select id="mainroad" name="mainroad">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <br>
    <label for="guestroom">guestroom</label>
    <select id="guestroom" name="guestroom">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <br>
    <label for="basement">guestroom</label>
    <select id="basement" name="basement">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <br>
    <label for="airconditioning">airconditioning</label>
    <select id="airconditioning" name="airconditioning">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <br>
    <label for="hotwaterheating">hotwaterheating</label>
    <select id="hotwaterheating" name="hotwaterheating">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <br>
    <label for="prefarea">prefarea</label>
    <select id="prefarea" name="prefarea">
      <option value="0">No</option>
      <option value="1">Yes</option>
    </select>
    <br>
    <label for="parking">parking</label>
    <input type="number" id="parking" name="parking">
    <br>
    <label for="furnishingstatus">furnishingstatus</label>
    <select id="furnishingstatus" name="furnishingstatus">
      <option value="0">unfurnished</option>
      <option value="1">semi-furnished</option>
      <option value="2">furnisheds</option>
    </select>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
